@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    --big-gap: 50px;
    --side-gap: 10px;
    --small-gap: 10px;
    margin: var(--big-gap) var(--side-gap);
    display: flex;
    flex-direction: column;

    gap: var(--big-gap);

	line-height: 1;
}


header h3 {
    font-size: clamp(26px, 5rem, 10vw);
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #66C101;
    text-align: center;
    grid-area: head;
}

.logo-lims {
    grid-area: lims;
    justify-self: end;
}

.logo-lims img {
    aspect-ratio: 8/3;
    object-fit: cover;
    height: clamp(1em, 4vw, 5em);
}

.logo-theinfo {
    grid-area: thif;
    justify-self: start;
}

.logo-theinfo img {
    height: clamp(2em, 4vw, 5em);
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    grid-template-areas:
    "thif lims"
    "head head";
}

.event-days {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--small-gap);
}

.event-days::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;

    left: 0;

    background-color: #66C101;
}

.event-days:last-of-type {
    height: 0;
}

.event-days .event-date {
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    height: 5rem;
    background-color: #66C101;
}


.event-days .event-date .date {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 2.6rem;
}

.event-days .event-list {
    display: flex;
    justify-self: stretch;
    flex-direction: column;

    gap: var(--small-gap);
    padding: 0 0 var(--small-gap) 0;
}

.event-days .event-list h1 {
    color: #057BCB;

    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.event-days .event-list h1.hour {
    text-align: right;
    color: #66C101;
}

.event-days .event-list .title-box {
    display: grid;
    align-content: center;
    grid-column: 1/3;
    inset: 0;

    background-color: #057BCB;
}

.event-days .event-list h2 {
    padding: .4em 1em;

    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}


.event-days .event-list .details {
    display: grid;
    gap: 5px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
}

.deactivate {
    filter: saturate(0);
}

.active.details .title {
    background-color: #ECA400;
}

@media (min-width: 925.00000001px) {
    body {
        --side-gap: 50px;
    }

    header {
        grid-template-columns: 8rem 1fr 8rem;
        grid-template-areas:
            "thif head lims"
        ;
    }

    .event-days .event-list {
        --columns: 3;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        place-content: center;
        place-items: center;
    }

    .event-days .event-list .details {
        aspect-ratio: 4/3;
    }

    .event-days .event-list .details h2 {
        font-size: clamp(1em, 2vw, 2em);
        text-align: center;
    }
}

@media (min-width: 2200.00000001px) {
    body {
        --side-gap: 200px;
    }
    .event-days .event-list {
        --columns: 4;
    }
}